.travel-planner {
  min-height: 100vh;
  padding: 2rem;
  // background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
  overflow-y: auto;
  background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);
  @media (max-width: 991px) {
    padding-top: 3.7rem;
  }
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @media (max-width: 1024px) {
        max-width: 700px;
    }
    @media (max-width: 767px) {
      width: 100%;
      gap: 1.5rem;
    }
    .title {
      font-size: 2.5rem;
      font-weight: 800;
      color: #1e3a8a;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    }

    .planner-form {
      background: rgba(255,255,255,0.6);
      border: 1px solid #e5e7eb;
      border-radius: 2rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      box-shadow: 0 4px 12px rgba(0,0,0,0.05);
      @media (max-width: 767px) {
        padding: 1.3rem;
      }
      .input-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        @media (max-width: 767px) {
          gap: 1rem;
        }
        @media (max-width: 768px) {
          grid-template-columns: 1fr;
        }
      }

      .generate-btn {
        width: 100%;
        padding: 0.75rem;
        background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%);
        box-shadow: 0 6px 18px rgba(0, 114, 255, 0.4);
        border: 0;
        color: white;
        font-size: 1.125rem;
        font-weight: 600;
        border-radius:40px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: opacity 0.3s ease;
        &:hover {
          background: linear-gradient(135deg, #0072ff 0%, #00c6ff 100%);
          box-shadow: 0 8px 25px rgba(0, 114, 255, 0.6);
        }
      }
    }
  }
}
